<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/css.ejs %>

</head>
<body>
<div class="loader"></div>
<div id="myDiv">

    <!--include header-->
    <% include components/navbar.ejs %>
    <!---->

    <!--include services -->
    <% include components/services.ejs %>
    <!---->

    <!--projects -->
    <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="service-title pad-bt15">Our Recent Works</h2>
                    <p class="sub-title pad-bt15">Team fourLoop has provided services to start-ups, SMEs, and well established large scale companies.<br>We have also actively participated in tech-based competitions and has deployed numerous products..</p>
                    <hr class="bottom-line">
                </div>

                <!--project content-->
                <div id="project">

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div style="margin-top: 60px; margin-bottom: 60px">
                            <div class="loading" style="margin: auto"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div style="margin-top: 60px; margin-bottom: 60px">
                            <div class="loading" style="margin: auto"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div style="margin-top: 60px; margin-bottom: 60px">
                            <div class="loading" style="margin: auto"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!---->

    <!-- blogs -->
    <section id="blog" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="service-title pad-bt15">Latest from our blog</h2>
                    <p class="sub-title pad-bt15">We maintain few blogs to showcase our products and innovations. The blog posts would also enlighten you on newest, existing and upcoming technologies. Find complete blog posts via the links provided below.</p>
                    <hr class="bottom-line">
                </div>

                <div id="blogPost">

                    <input type="hidden" id="numBlogs" value="<%= team.length %>">

                    <% for(var i=0; i<team.length; i++) {%>

                    <div class="col-md-3 col-sm-6 col-xs-12" id="b_<%= i %>">
                        <input type="hidden" id="m_<%= i %>" value="<%= team[i]._id %>">
                        <div style="margin-top: 60px; margin-bottom: 60px">
                            <div class="loading" style="margin: auto"></div>
                        </div>
                    </div>

                    <% } %>

                </div>

            </div>
        </div>
    </section>
    <!---->

    <!--team members-->
    <section id="team" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="service-title pad-bt15">Meet Our Team</h2>
                    <p class="sub-title pad-bt15">Our team consists of a vast knowledge pool and four incredibly talented individuals who have hands-on experience in their areas of expertise.</p>
                    <hr class="bottom-line">
                </div>

                <% for(var i=0; i<team.length; i++) {%>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="/teamMember/<%= team[i].image %>" class="img-responsive img-circle">
                    </div>
                    <div class="blog-info" style="text-align: center">
                        <h2><%= team[i].name %></h2>
                        <p><%= team[i].position %></p>
                    </div>
                </div>

                <% } %>

            </div>
        </div>
    </section>
    <!---->

    <!--include contact details-->
    <% include components/contact.ejs %>
    <!---->

    <!--include footer  -->
    <% include components/footer.ejs %>
    <!---->
</div>

<!--include all js-->
<% include includes/js.ejs %>
<!---->

</body>
</html>